<!-- frontend/src/app/presentation/pages/login/login.page.html -->
<ion-content [fullscreen]="true" class="premium-content">
  <div class="glow-bg"></div>

  <div class="auth-wrapper">
    <!-- <app-auth-header
      icon="log-in-outline"
      title="DomusFin"
      subtitle="Gestiona tus finanzas familiares en un solo lugar">
    </app-auth-header> -->
    <div class="logo-container">
      <img src="/assets/logo.png" alt="Nexo Logo" class="logo">
    </div>

    <ion-card class="auth-card">
      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
          <!-- Username / Email Input -->
          <div class="input-wrapper">
            <label class="input-label">Usuario o Correo</label>
            <div class="input-field">
              <ion-icon name="person-outline" class="field-icon"></ion-icon>
              <ion-input
                type="text"
                placeholder="Ingresa tu correo o usuario"
                formControlName="usernameOrEmail"
                class="premium-input">
              </ion-input>
            </div>
            @if (loginForm.get('usernameOrEmail')?.invalid && loginForm.get('usernameOrEmail')?.touched) {
              <div class="error-text">
                El usuario debe ser alfanumérico o un correo válido.
              </div>
            }
          </div>

          <!-- Password Input -->
          <app-password-input
            [parentForm]="loginForm"
            controlName="password"
            label="Contraseña"
            placeholder="Ingresa tu contraseña"
            errorMessage="La contraseña es obligatoria (mínimo 6 caracteres).">
          </app-password-input>

          <!-- Remember Me & Forgot Password -->
          <div class="form-options">
            <ion-item class="checkbox-item" lines="none">
              <ion-checkbox 
                labelPlacement="end" 
                justify="start"
                formControlName="rememberMe">
                Recordar datos
              </ion-checkbox>
            </ion-item>
            <a routerLink="/forgot-password" class="auth-link">¿Olvidaste tu contraseña?</a>
          </div>

          <!-- Login Button -->
          <ion-button 
            type="submit"
            expand="block" 
            class="submit-button"
            [disabled]="loginForm.invalid">
            Iniciar Sesión
          </ion-button>
        </form>

        <div class="auth-footer">
          <span>¿No tienes cuenta?</span>
          <a routerLink="/register" class="auth-link auth-link--highlight">Regístrate ahora</a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
