DB_HOST=localhost
DB_PORT=3307
DB_USERNAME=domusfin_user
DB_PASSWORD=domusfin_password
DB_DATABASE=domusfin_db
PORT=3000
NODE_ENV=development

# SMTP Configuration
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
SMTP_FROM="DomusFinApp" <no-reply@domusfin.com>
